* {
    /* border: 1px solid purple; */
    box-sizing: border-box;
}

.hero {
    padding: 3% 4% 0 4%;
    background-color: #f1f1f1;
}

.hero:after {
    content: "";
    display: block;
    position: relative;
    margin-top: 0;
    padding-top: 15px;
    border-bottom: 1px solid #6692a3; 
    width: 100%;
}

h1 {
    background-color: #6692a3;
    color: white;
    text-align: center;
    padding: 2px;
}

.right-top {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #6692a3;
    height: 275px;
    border-radius: 5px;
    padding: 30px 50px;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.w-icon {
    margin-left: 40px;
}

.weatherInfo {
    line-height: 1.8;
    margin-left: 10px;
    letter-spacing: 1.3;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    
}

p {
    text-align: center;
}

h4 {
    font-size: 1.0rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.min-100-vh {
    min-height: 100vh;
}

.left-container {
    margin: 0;
    padding: 30px;
}

.form-label, .form-input {
  display: block;
}

.form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.0rem;
}

.left-bottom {
    padding: 20px;
}

.btn {
    border: 1px solid gray;
    margin-top: 3px;
    font-size: 1.0rem;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 10px 0;
    background-color: #9fc3d1;
}

.btn:hover {
    background-color:#7f9ba6;
}

.city-btn {
    border: 1px solid gray;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 1.1rem;
    text-decoration:none;
    padding: 6px 5px;
    background-color: #9fc3d1;
}

.city-btn:hover {
    background-color: #7f9ba6;
}

.right-bottom {
    margin: 0;
}

.day-forecast {
    width: 100%;
    margin: 5px;
}

.card-header {
    background-color: white;
}

/* card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    display: flex;
    margin: 8px;
    border: 1px solid #7f9ba6;
    font-size: .8rem;

}